@charset "UTF-8";
app-console {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  app-console > input.c-field {
    width: 420px;
    margin: 20px; }

app-joyflick {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse; }
  app-joyflick[reversed] {
    flex-direction: row; }
  app-joyflick > .separator {
    width: 60px; }
  app-joyflick app-consonant-component, app-joyflick app-vowel-component {
    display: grid;
    width: 180px;
    height: 180px;
    grid-template-rows: repeat(3, 60px);
    grid-template-columns: repeat(3, 60px); }
    app-joyflick app-consonant-component app-consonant-key, app-joyflick app-consonant-component app-vowel-key, app-joyflick app-vowel-component app-consonant-key, app-joyflick app-vowel-component app-vowel-key {
      width: 48px;
      height: 48px;
      align-self: center;
      justify-self: center;
      text-align: center;
      vertical-align: center;
      line-height: 48px;
      font-size: 28.8px;
      color: #a0a0a0;
      border: #707070 solid 1px;
      border-radius: 2px;
      box-shadow: 0 1.5px 2.25px 0.1875px rgba(0, 0, 0, 0.14), 0 0.75px 2.8125px 0.46875px rgba(0, 0, 0, 0.12), 0 0.75px 0.9375px -0.65625px rgba(0, 0, 0, 0.2); }
      app-joyflick app-consonant-component app-consonant-key[selected], app-joyflick app-consonant-component app-vowel-key[selected], app-joyflick app-vowel-component app-consonant-key[selected], app-joyflick app-vowel-component app-vowel-key[selected] {
        width: 54px;
        height: 54px;
        line-height: 54px;
        color: white;
        background-color: #90caf9;
        border-color: #039be5;
        box-shadow: none;
        font-size: 43.2px; }
    app-joyflick app-consonant-component[value="W"] app-consonant-key[value="W"], app-joyflick app-vowel-component[value="W"] app-consonant-key[value="W"] {
      display: block; }
    app-joyflick app-consonant-component[value="W"] app-consonant-key[value="N"], app-joyflick app-vowel-component[value="W"] app-consonant-key[value="N"] {
      display: none; }
    app-joyflick app-consonant-component[value="W"] app-consonant-key[selected], app-joyflick app-vowel-component[value="W"] app-consonant-key[selected] {
      color: #a0a0a0;
      background-color: white;
      border-color: #707070;
      box-shadow: 0 1.5px 2.25px 0.1875px rgba(0, 0, 0, 0.14), 0 0.75px 2.8125px 0.46875px rgba(0, 0, 0, 0.12), 0 0.75px 0.9375px -0.65625px rgba(0, 0, 0, 0.2); }
    app-joyflick app-consonant-component[value="W"] app-consonant-key:not([selected]), app-joyflick app-vowel-component[value="W"] app-consonant-key:not([selected]) {
      color: #90caf9;
      background-color: #90caf9;
      border-color: #039be5;
      box-shadow: none; }
  app-joyflick app-consonant-component app-consonant-key[value="W"] {
    display: none;
    grid-column: 2 / 3;
    grid-row: 2 / 3; }
  app-joyflick app-consonant-component app-consonant-key[value="A"], app-joyflick app-consonant-component app-consonant-key[value="T"], app-joyflick app-consonant-component app-consonant-key[value="M"] {
    grid-column: 1 / 2; }
  app-joyflick app-consonant-component app-consonant-key[value="K"], app-joyflick app-consonant-component app-consonant-key[value="N"], app-joyflick app-consonant-component app-consonant-key[value="Y"], app-joyflick app-consonant-component app-consonant-key[value="W"] {
    grid-column: 2 / 3; }
  app-joyflick app-consonant-component app-consonant-key[value="S"], app-joyflick app-consonant-component app-consonant-key[value="H"], app-joyflick app-consonant-component app-consonant-key[value="R"] {
    grid-column: 3 / 4; }
  app-joyflick app-consonant-component app-consonant-key[value="A"], app-joyflick app-consonant-component app-consonant-key[value="K"], app-joyflick app-consonant-component app-consonant-key[value="S"] {
    grid-row: 1 / 2; }
  app-joyflick app-consonant-component app-consonant-key[value="T"], app-joyflick app-consonant-component app-consonant-key[value="N"], app-joyflick app-consonant-component app-consonant-key[value="H"], app-joyflick app-consonant-component app-consonant-key[value="W"] {
    grid-row: 2 / 3; }
  app-joyflick app-consonant-component app-consonant-key[value="M"], app-joyflick app-consonant-component app-consonant-key[value="Y"], app-joyflick app-consonant-component app-consonant-key[value="R"] {
    grid-row: 3 / 4; }
  app-joyflick app-vowel-component app-vowel-key:nth-child(2) {
    grid-column: 1 / 2; }
  app-joyflick app-vowel-component app-vowel-key:nth-child(1), app-joyflick app-vowel-component app-vowel-key:nth-child(3), app-joyflick app-vowel-component app-vowel-key:nth-child(5) {
    grid-column: 2 / 3; }
  app-joyflick app-vowel-component app-vowel-key:nth-child(4) {
    grid-column: 3 / 4; }
  app-joyflick app-vowel-component app-vowel-key:nth-child(1) {
    grid-row: 1 / 2; }
  app-joyflick app-vowel-component app-vowel-key:nth-child(2), app-joyflick app-vowel-component app-vowel-key:nth-child(3), app-joyflick app-vowel-component app-vowel-key:nth-child(4) {
    grid-row: 2 / 3; }
  app-joyflick app-vowel-component app-vowel-key:nth-child(5) {
    grid-row: 3 / 4; }

blaze-alerts > div[role="presentation"] {
  flex-grow: 1;
  width: auto; }
  blaze-alerts > div[role="presentation"] blaze-alert[outdated] {
    animation: alertOutdated 250ms forwards; }
  blaze-alerts > div[role="presentation"] blaze-alert > div[role="alert"] > *:not(:last-child) {
    margin-bottom: 10px; }
  blaze-alerts > div[role="presentation"] blaze-alert > div[role="alert"] > .title {
    font-size: 140%;
    font-weight: 300; }
  blaze-alerts > div[role="presentation"] blaze-alert > div[role="alert"] > .rumble::after {
    font-weight: 400;
    content: '非対応'; }
  blaze-alerts > div[role="presentation"] blaze-alert > div[role="alert"] > .rumble[rumble]::after {
    content: '対応'; }

/*# sourceMappingURL=joyflick.css.map */
